@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 300;
  font-display: block;
  src: url(a89ed22ca41d.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 300;
  font-display: block;
  src: url(25e309824439.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(a89ed22ca41d.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(25e309824439.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(907682048706.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(2fed1d1b2e19.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(907682048706.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(2fed1d1b2e19.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(907682048706.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(2fed1d1b2e19.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(907682048706.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(2fed1d1b2e19.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(bbcfa19bdc19.woff2) format('woff2');
  unicode-range: U+20, U+26, U+2c, U+2e, U+61-7a, U+b7, U+2014, U+ac00, U+ac04, U+ac1c, U+ac80, U+acac, U+acbd, U+acc4, U+acf3, U+acf5, U+ad00, U+ae00, U+aed8, U+b0b4, U+b294, U+b2c8, U+b2cc, U+b2dd, U+b2e4, U+b77c, U+b78c, U+b85c, U+b984, U+b9bf, U+b9e4, U+ba3c, U+ba64, U+baa8, U+bb34, U+bba4, U+bc1c, U+bc84, U+bc88, U+bcc4, U+bcf4, U+be0c, U+c0ac, U+c11c, U+c15c, U+c18c, U+c2a4, U+c2dc, U+c2f1, U+c544, U+c5d0, U+c640, U+c6b4, U+c6c0, U+c6f0, U+c744, U+c758, U+c774, U+c778, U+c77c, U+c98c, U+c99d, U+c9c1, U+cc98, U+ce6d, U+cee4, U+ceec, U+d06c, U+d0c0, U+d1a0, U+d2b8-d2b9, U+d2f0, U+d305, U+d37c, U+d3ec, U+d504, U+d53c, U+d558, U+d55c, U+d568, U+d5d8;
}
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(bbcfa19bdc19.woff2) format('woff2');
  unicode-range: U+20, U+26, U+2c, U+2e, U+61-7a, U+b7, U+2014, U+ac00, U+ac04, U+ac1c, U+ac80, U+acac, U+acbd, U+acc4, U+acf3, U+acf5, U+ad00, U+ae00, U+aed8, U+b0b4, U+b294, U+b2c8, U+b2cc, U+b2dd, U+b2e4, U+b77c, U+b78c, U+b85c, U+b984, U+b9bf, U+b9e4, U+ba3c, U+ba64, U+baa8, U+bb34, U+bba4, U+bc1c, U+bc84, U+bc88, U+bcc4, U+bcf4, U+be0c, U+c0ac, U+c11c, U+c15c, U+c18c, U+c2a4, U+c2dc, U+c2f1, U+c544, U+c5d0, U+c640, U+c6b4, U+c6c0, U+c6f0, U+c744, U+c758, U+c774, U+c778, U+c77c, U+c98c, U+c99d, U+c9c1, U+cc98, U+ce6d, U+cee4, U+ceec, U+d06c, U+d0c0, U+d1a0, U+d2b8-d2b9, U+d2f0, U+d305, U+d37c, U+d3ec, U+d504, U+d53c, U+d558, U+d55c, U+d568, U+d5d8;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(c1babd19e1e8.woff2) format('woff2');
  unicode-range: U+20, U+26, U+2c, U+2e, U+61-7a, U+b7, U+2014, U+ac00, U+ac04, U+ac1c, U+ac80, U+acac, U+acbd, U+acc4, U+acf3, U+acf5, U+ad00, U+ae00, U+aed8, U+b0b4, U+b294, U+b2c8, U+b2cc, U+b2dd, U+b2e4, U+b77c, U+b78c, U+b85c, U+b984, U+b9bf, U+b9e4, U+ba3c, U+ba64, U+baa8, U+bb34, U+bba4, U+bc1c, U+bc84, U+bc88, U+bcc4, U+bcf4, U+be0c, U+c0ac, U+c11c, U+c15c, U+c18c, U+c2a4, U+c2dc, U+c2f1, U+c544, U+c5d0, U+c640, U+c6b4, U+c6c0, U+c6f0, U+c744, U+c758, U+c774, U+c778, U+c77c, U+c98c, U+c99d, U+c9c1, U+cc98, U+ce6d, U+cee4, U+ceec, U+d06c, U+d0c0, U+d1a0, U+d2b8-d2b9, U+d2f0, U+d305, U+d37c, U+d3ec, U+d504, U+d53c, U+d558, U+d55c, U+d568, U+d5d8;
}
